@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import 'bootstrap/dist/css/bootstrap.min.css';
@import 'variables';

body {
  background-image: url(../images/disc-golf-background-image.jpg);
  min-height: 100%;
  min-width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

h1 {
  color: white;
}
h2 {
  color: white;
}
h3 {
  color: darkgray;
}

.navbar {
  background-color: rgba(0, 0, 0, 0.5);
}

.nav-link {
  color: white;
}

.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.outer-container {
  display: flex;
  justify-content: flex-end;
  margin: 50px;
  margin-right: 200px;
}

.sub-container {
  width: 700px;
  height: 700px;
  background-color: rgba(0, 0, 0, 0.6);
  overflow: auto;
}